

    <section class="pageTitle">
    <div class="wrapper">
        <div>
            <h1>About Us</h1>
        </div>
    </div>
    </section>

    <!-- about part start-->
    <section class="aboutUs">
        <div class="container">

           <div class="row">

                <div class="col">
                    <div class="aboutText">
                        <h4>about me</h4>
                        <p>As a Full Stack Developer, I am comfortable around both front-end and back-end coding languages, development frameworks and third-party libraries. I would also be a team player with a knack for visual design and utility. I am familiar with Agile methodologies.</p>
                        <div class="experiance">
                            <h2>06</h2>
                            <p>Years of <span>Experiences</span></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="experianceList">
                        <h4>Experiences</h4>

                        <ul>
                            <li>
                                <h5>PHP Developer</h5>
                            </li>
                            <li>
                                <h5>Vue Js Developer </h5>
                            </li>
                            <li>
                                <h5>Laravel Framework</h5>
                            </li>
                            <li>
                                <h5>Express Js</h5>
                            </li>
                            <li>
                                <h5>Node Js </h5>
                            </li>
                            <li>
                                <h5>Jquery/Ajax</h5>
                               
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- about part end-->

    

    <!-- philosophy part css start -->
    <section class="myPhilosophy">
        <div class="wrapper">

             
            <div class="text">
                <h5>My Insights</h5>
                <h2>Always work harder and create </btr>awesome products</h2>
                <p>I am a Full stack developer. I have started my journey from Core PHP with Mysql database. I have worked on varioius technologies like, PHP, wordpress, Vue js, and Laravel Framework.</p>
                <p>I have 6 years of experience in the developing. I have also live the website for the Dubai Restaurant. You can review it from the below URL, <a>https://menupages.ae/dubai</a></p>
                <p>Proficient in coding language, certified in PHP, and fluent in many major coding languages such as HTML, JavaScript, C++, and more -Detail-oriented with great attention to detail to avoid coding mistakes.
                </p>
            </div>
            

            <div class="img">
                <img src="/images/project_details.png" alt="#">
            </div>

        </div>
    </section>
    <!-- philosophy part css end -->