
    <!-- banner part start-->
    <section class="heroBanner">
        <div class="wrapper">
            <div>
                <h5>Hi there, This is Jimi</h5>
                <h1>Full Stack<br>Developer</h1>
                <a href="/contact" class="btn">Contact me</a>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about part start-->
    <section class="aboutUs">
        <div class="container">

            <div class="row">

                <div class="col">
                    <div class="aboutText">
                        <h4>about me</h4>
                        <p>As a Full Stack Developer, I am comfortable around both front-end and back-end coding languages, development frameworks and third-party libraries. I would also be a team player with a knack for visual design and utility. I am familiar with Agile methodologies.</p>
                        <div class="experiance">
                            <h2>06</h2>
                            <p>Years of <span>Experiences</span></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="experianceList">
                        <h4>Experiences</h4>

                        <ul>
                            <li>
                                <h5>PHP Developer</h5>
                            </li>
                            <li>
                                <h5>Vue Js Developer </h5>
                            </li>
                            <li>
                                <h5>Laravel Framework</h5>
                            </li>
                            <li>
                                <h5>Express Js</h5>
                            </li>
                            <li>
                                <h5>Node Js </h5>
                            </li>
                            <li>
                                <h5>Jquery/Ajax</h5>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- about part end-->

    <!-- portfolio part css start -->
    <section class="myPortfolio">
        <div class="wrapper">

            <div class="title">
                <div class="col">
                    <p>My portfolio</p>
                    <h2>Take a look around some of <br>my awesome works</h2>
                </div>
                <div class="col moreWork">
                    <a href="/Projects" class="btn_2">More works</a>
                </div>
            </div>

            <ul class="projectList">
                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_1.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_2.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_3.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/project_details.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_5.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_1.png" alt="">
                    </a>
                </li>
            </ul>

        </div>
    </section>
    <!-- portfolio part css end -->

    <!-- Service part start-->
    <section class="services">
        <div class="container">

            <div class="title">
                <p>My portfolio</p>
                <h2>Take a look around some of <br>my awesome works</h2>
            </div>

            <ul class="technology">
                <li>
                    <span class="icon"><img src="images/port_1.png" /></span>
                    <h2>User experience design</h2>
                    <p>There winged grass midst moving earth seed herb fifth you multiply you divide cattle.</p>
                    <a href="#" class="learn_btn">learn more</a>
                </li>

                <li>
                    <span class="icon"><img src="images/port_2.png" /></span>
                    <h2>User experience design</h2>
                    <p>There winged grass midst moving earth seed herb fifth you multiply you divide cattle.</p>
                    <a href="#" class="learn_btn">learn more</a>
                </li>

                <li>
                    <span class="icon"><img src="images/port_3.png" /></span>
                    <h2>User experience design</h2>
                    <p>There winged grass midst moving earth seed herb fifth you multiply you divide cattle.</p>
                    <a href="#" class="learn_btn">learn more</a>
                </li>
            </ul>

            
        </div>
    </section>
    <!-- Service part end-->
