<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Set Favicon Icon -->
    <link rel="icon" href="/images/favicon.png">

    <!-- Include Default Theeme css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
   
    <!--::header part start::-->
    <header class="headerMain">
        <div class="wrapper">

            <div class="logo">
                <a href="/">
                    <img src="images/jimi-logo.png" alt="logo">
                </a>
            </div>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

            <div class="socialIco">
                <a href="https://www.facebook.com/jimi.kanoja/"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/jimikanoja/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/jimi-kanoja-91a41212a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BvEqVUERYQ0GG3GMfUaO3NQ%3D%3D"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/codepixel12"><i class="fa fa-github"></i></a>
            </div>

        </div>
    </header>
    <!-- Header part end-->


 

    {{{body}}}

     <!-- footer css start -->
     <footer class="footerMain">
         <div class="wrapper">

             <div class="row">

                 <div class="col">
                     <div class="footerText">
                         <span>Discuss your project now</span>
                         <h2>jimikanoja@yahoo.com</h2>
                     </div>
                 </div>

                 <div class="col">
                     <div class="footerBtn">
                         <a href="images/jimi-cv.docx" class="btn">Download CV</a>
                     </div>
                 </div>

                 <div class="col">
                     <div class="footerMenu">
                         <a href="/about">About</a>
                         <a href="/Projects">WORK</a>
                         <a href="/contact">Contact</a>
                     </div>
                 </div>

                 <div class="col">
                    <div class="socialIcon">
                        <a href="https://www.facebook.com/jimi.kanoja/"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/jimikanoja/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jimi-kanoja-91a41212a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BvEqVUERYQ0GG3GMfUaO3NQ%3D%3D"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/codepixel12"><i class="fa fa-github"></i></a>
                    </div>
                 </div>
                 
             </div>

            <div class="copyright">
                    <p>                  
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                    </p>
                </div>

         </div>
     </footer>
     <!-- footer css end -->




     

  </body>
</html>
