@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap");
/* 
	=================================
	=================================
	DEFAULT CSS
	=================================
	=================================
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', 'Open Sans', sans-serif;
*/
* {
  box-sizing: border-box;
  position: relative;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #1c1c1c;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff;
  direction: ltr;
}
header, footer, menu, nav, article, section, aside
{display:block; margin:0px; padding:0px;}

h1,h2,h3,h4,h5,h6,form,p,a,ul,li
{margin:0px; padding:0px;}

a,span,label,dt,dl,i{display: inline-block;}

a {
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #2ba983;
}

img{outline:none;  border:none; vertical-align:top;}

input[type="number"]{-moz-appearance: textfield;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="number"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
input[type="submit"], input[type="button"], button{
  -webkit-appearance: none;
  font-family: "Poppins", "Open Sans", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
  cursor: pointer;
}

input,select,textarea,button{
  outline: none;
  font-family: "Poppins", "Open Sans", sans-serif;
  margin:0px;
  border:none;
  font-size:14px;
  background:#ffffff;
}
textarea{resize:none;}

.container, .wrapper{
  max-width: 1180px;
  margin: 0px auto;;
}

/*
  =====================
  Header
  =====================
*/
.headerMain{
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #0d0f5b;
  padding: 15px 0px;
}
.headerMain .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMain .logo img{width:80px}
.headerMain ul li{display: inline-block; font-size: 16px;}
.headerMain ul li a{color:#fff; padding: 10px 10px;}
.headerMain ul li a:hover{color:#ea5267;}

.headerMain .socialIco a{color: #fff; font-size: 18px; margin: 0px 5px;}
.headerMain .socialIco a:hover{color:#ea5267;}

/*
  =====================
  Banner Part
  =====================
*/
.heroBanner{
  position: relative;
  /*background-image: url(../images/banner_bg_1.png);*/
  background-image: url(../images/banner_bg_1_no_shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  z-index: 2;
  background-color: #0d0f5b;
}
.heroBanner .wrapper{
  align-items: center;
  display: flex;
  height: 1075px;
}
.heroBanner h5{
  font-size: 30px;
  color: #fff;
}
.heroBanner h1{
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 65px;
  line-height: 96px;
  color: #fff;
  margin-top: 35px;
}
.heroBanner .btn{
  display: inline-block;
  padding: 13.5px 45px;
  background-color: #ea5267;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  border: 1px solid transparent;
}

/*
  =====================
  About Us
  =====================
*/
.aboutUs{
  background-color: #eaeaf3;
  padding: 100px 0px;
  color: #343346;
}
.aboutUs .row{
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap:6%;
}
.aboutUs .row h4{
  font-size: 16px;
  font-weight: 500;
  color: #ea5267;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.aboutUs .row .aboutText p{
 line-height: 32px;
 font-size: 17px;
}
.aboutUs .row .aboutText .experiance {
  display: flex;
  align-items: flex-end;
  margin-top: 55px;
}
.aboutUs .row .aboutText .experiance h2{
  font-size: 120px;
  color: #ffd200;
  font-weight: 900;
  display: inline-block;
  line-height: 84px;
}
.aboutUs .row .aboutText .experiance p{
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 25px;
}
.aboutUs .row .aboutText .experiance p span{
  display: block;
}
/* ========== */
.aboutUs .row .experianceList ul{
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap:6%;
  list-style-type: none;
}
.aboutUs .row .experianceList ul li{
  list-style-type: none;
  margin-bottom: 31px;
}
.aboutUs .row .experianceList ul li h5{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.aboutUs .row .experianceList ul li p{
  font-size: 16px;
}

/*
  =====================
  My Portfolio
  =====================
*/
.myPortfolio{padding: 100px 0px;}
.myPortfolio .title{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.myPortfolio .title p{
  color: #ea5267;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 14px;
}
.myPortfolio .title h2{
  font-size: 36px;
  color: #0a0b4d;
  line-height: 48px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-top: 22px;
}
.myPortfolio .title .moreWork{
  align-self: flex-end;
}
.myPortfolio .title a{
  display: inline-block;
  padding: 12.5px 45px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  color: #ea5267;
  border: 1px solid #ea5267;
  font-family: "Montserrat", sans-serif;
}
.myPortfolio .title a:hover{
  background-color: #ea5267;
  color:#fff;
  transform: translateY(-15px);
}
.myPortfolio .projectList{
  list-style-type: none;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap:2%;
  grid-row-gap:25px;
}
.myPortfolio .projectList li a{
  display: block;
  background-color: #ea5267;
  height: 370px;
  overflow: hidden;
}
.myPortfolio .projectList li a img{
  width: 100%;
  transition: all 0.3s ease-out;
}
.myPortfolio .projectList li a:hover img{
  opacity: 0.5;
  transform: scale(1.2,1.2);
  transform-origin: center;
}

/*
  =====================
  services
  =====================
*/
.services{padding:50px 0px 100px;}
.services .title{ 
  padding-bottom: 70px;
  text-align: center;
}
.services .title p{
  color: #ea5267;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 14px;
}
.services .title h2{
  font-size: 36px;
  color: #0a0b4d;
  line-height: 48px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-top: 22px;
}
.services .technology{
  list-style-type: none;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap:2%;
  grid-row-gap:25px;
  text-align: center;
}
.services .technology li{
  padding: 30px 35px 44px;
  border: 1px solid rgba(0,0,0,0);
  transition: all 0.3s ease-out;
}
.services .technology li:hover{border: 1px solid rgba(0,0,0,0.1);}
.services .technology img{max-width: 100%;}
.services .technology h2{
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 34px;
  margin-bottom: 17px;
}
.services .technology p{
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 0px;
  color: #6e6868;
}
.services .technology a{
  text-transform: capitalize;
  margin-top: 20px;
  color: #ea5267;
}

/*
  =====================
  Footer
  =====================
*/
.footerMain{
  background-color: #0d0f5b;
  padding: 80px 0px 10px;
  color:#fff;
}
.footerMain .row{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap:4%;
}
.footerMain .row .col{}
/* ===== */
.footerMain .row .footerText{margin-bottom: 70px;}
.footerMain .row .footerText span{
  color: #ea5267;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: inline-block;
}
.footerMain .row .footerText h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
/* ===== */
.footerMain .row .footerBtn{text-align: right;}
.footerMain .row .footerBtn .btn{
  display: inline-block;
  padding: 13.5px 45px;
  background-color: #ea5267;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  border: 1px solid transparent;
}
/* ===== */
.footerMain .row .footerMenu{}
.footerMain .row .footerMenu a{display: inline-block; font-size: 16px;}
.footerMain .row .footerMenu a{color:#fff; padding: 10px 0px; margin-right: 20px;}
.footerMain .row .footerMenu a:hover{color:#ea5267;}
/* ===== */
.footerMain .row .socialIcon{text-align: right;}
.footerMain .row .socialIcon a{color: #fff; font-size: 18px; margin: 0px 5px;}
.footerMain .row .socialIcon a:hover{color:#ea5267;}
/* ===== */
.footerMain .copyright{text-align: center;     padding:40px 0 40px;}

/*
  =====================
  Page Title
  =====================
*/
.pageTitle{padding:100px 0px; background-color: #0d0f5b; text-align: center;}
.pageTitle h1{font-size: 45px; color:#fff}

/*
  =====================
  my Philosophy
  =====================
*/
.myPhilosophy{padding: 80px 0px;}
.myPhilosophy .wrapper{
  display: grid;
  grid-template-columns: 55% 41%;
  grid-gap:4%;
  align-items: center;
}
.myPhilosophy .wrapper h5{
  font-size: 16px;
  text-transform: uppercase;
  color: #ea5267;
}
.myPhilosophy .wrapper h2{
  font-size: 32px;
  line-height: 48px;
  margin: 20px 0 30px;
}
.myPhilosophy .wrapper p{
  font-size: 16px;
  color: #5b5b5b;
  margin-top: 20px;
}


/*
  =====================
  Page Title
  =====================
*/
.contactPage{padding: 50px 0px;}
.contactPage .googleMap{margin-bottom: 50px;}
.contactPage h2{margin-bottom: 25px;}
.contactPage .row{
  display: grid;
  grid-template-columns: 60% 36%;
  grid-gap:4%;
}
.contactPage .row .formRow{margin-bottom: 15px;}
.contactPage .row .formRow input,
.contactPage .row .formRow textarea{
  border: 1px solid rgba(0,0,0,0.1);
  width:100%;
  padding:10px;
}
.contactPage .row .formRow input:focus,
.contactPage .row .formRow textarea:focus{
  border: 1px solid #0d0f5b;
}

.contactPage .row .formBtn button{
  background-color: #0d0f5b;
  color:#fff;
  padding: 15px;;
}