    <section class="pageTitle">
    <div class="wrapper">
        <div>
            <h1>My portfolio</h1>
        </div>
    </div>
    </section>

    <!-- portfolio part css start -->
    <section class="myPortfolio">
        <div class="wrapper">

            <div class="title" style="grid-template-columns: 100%; display:block;">
                <div class="col" style="text-align: center;">
                    <h2>Take a look around some of <br>my awesome works</h2>
                </div>
            </div>

            <ul class="projectList">
                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_1.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_3.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_2.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_1.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_5.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="/details" class="grid-item">
                        <img src="/images/port_1.png" alt="">
                    </a>
                </li>
            </ul>

        </div>
    </section>
    <!-- portfolio part css end -->
